.HinnastoContainer {
  width: 100%;
  margin: 100px 0;
}
.HinnastoContainerTitle {
  text-align: center;
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}
.HinnastoCardsContainer {
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px;
  width: fit-content;
}
.HinnastoCard {
  width: 350px;
}
.HinnastoCardTitleContainer {
  h1 {
    font-weight: 500;
    font-size: 1.5rem;
  }
}
.HinnastoItemsContainer {
  margin-top: 10px;
}
.HinnastoCardItems {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-top: 15px;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.hover {
  transition: all 0.2s ease-in-out;
}
.hover:hover {
  transform: translateY(-2px);
}

.HinnastoCardItemPrice {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 20%;
  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 5%;
  }
}
.HinnastoCardItemDesc {
  clip-path: polygon(10% 0, 100% 0, 100% 54%, 100% 100%, 0 100%);
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  h1 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 5%;
  }
}
.HinnastoInfoContainer {
  padding-top: 100px;
  max-width: 800px;
  margin: auto;
  p {
    margin-top: 30px;
  }
  span {
    font-weight: 600;
  }
}
