.Title {
  text-align: center;
  padding: 100px;
  margin-bottom: 100px;
  background-color: #f1a054;
  h1 {
    width: fit-content;
    font-weight: 600;
    font-size: 2.25rem;
    color: black;
  }
}
.VinkitMuuttajalleContainer {
  max-width: 900px;
  width: 90%;
  margin: 50px auto;
  // overflow: hidden;
}
.VinkitMuuttajalleItem {
  min-height: 200px;
  margin-bottom: 100px;
  display: flex;
}

.VinkitMuuttajalleItemImage {
  width: 200px;
  height: 200px;
}
.VinkitMuuttajalleItemText {
  width: calc(100% - 200px);
  min-width: 385px;
  &:nth-child(odd) {
    h1 {
      padding-left: 0;
    }
    p {
      padding-left: 0;
    }
  }
  h1 {
    font-size: 2rem;
    font-weight: 600;
    padding: 0 20px;
  }
  p {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 500;
  }
}
@media (max-width: 650px) {
  .Title {
    padding: 50px 0;
    margin-bottom: 50px;
    h1 {
      font-size: 1.75rem;
      white-space: nowrap;
      margin: auto;
    }
  }
  .VinkitMuuttajalleItem {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
    &:nth-child(even) {
      flex-wrap: wrap;
    }
  }
  .VinkitMuuttajalleItemText {
    width: 90% !important;
    min-width: 325px !important;
    margin: auto;
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .VinkitMuuttajalleItemImage {
    margin: 20px 0;
  }
}
