@use '../variables/Variables.scss' as variable;

.pageheroContainer {
  height: calc(100vh - 250px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/KantoapuHero.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  width: 100%;
  .textContainer {
    max-width: 1820px;
    width: 90%;
    margin: auto;
  }
  h1 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
  }
  span {
    color: variable.$secondaryFontColor;
  }
}
@media screen and (max-width: 650px) {
  .textContainer {
    width: 100%;
    height: 100%;
    position: relative;

    h1 {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
      max-width: 90%;
      color: white;
      font-size: 2rem;
      font-weight: 500;
    }
    span {
      color: variable.$secondaryFontColor;
    }
  }
}
@media screen and (max-width: 450px) {
  .pageheroContainer {
    height: calc(100vh - 120px);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('/KantoapuHeroMobile.png');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
