@use '../variables/Variables.scss' as variable;
.mobileButtons {
  display: none;
  overflow-y: hidden;
}

.palvelutContainer {
  padding: 100px 0;
  width: 100%;
  // margin: 100px 0;
}
.PalvelutContainerTitle {
  text-align: center;
  width: fit-content;
  margin: auto;
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  span {
    color: variable.$secondaryFontColor;
  }
}

.PalvelutCardContainer {
  margin: auto;
  margin-top: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(275px, 300px));
  grid-template-rows: auto;
  gap: 30px;
  max-width: 1035px;
  width: 100%;
}
.PalveluCard {
  cursor: pointer;
  background-color: white;
  height: 350px;
  width: 100%;
  min-width: 275px;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 0px solid black;
  transition: all 0.1s linear;
  border-radius: 5px;
}
.PalveluCardTitleContainer {
  background: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
  button {
    padding: 10px;
  }
  h1 {
    margin-left: 5%;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
  }
}
.PalveluCardTextContainer {
  padding: 20px 30px;
  p {
    font-size: 1.1rem;
    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}

.hover1:hover {
  transform: translateY(-5px);
  border: 1px solid variable.$hoverBorderColor1;
  border-bottom: 8px solid variable.$hoverBorderColor1;
  box-shadow: none;
  .PalveluCardTitleContainer {
    border-bottom: 1px solid variable.$hoverBorderColor1;
  }
}
.hover2:hover {
  transform: translateY(-5px);
  box-shadow: none;
  border: 1px solid variable.$hoverBorderColor2;
  border-bottom: 8px solid variable.$hoverBorderColor2;
  .PalveluCardTitleContainer {
    border-bottom: 1px solid variable.$hoverBorderColor2;
  }
}
.hover3:hover {
  transform: translateY(-5px);
  box-shadow: none;
  border: 1px solid variable.$hoverBorderColor3;
  border-bottom: 8px solid variable.$hoverBorderColor3;
  .PalveluCardTitleContainer {
    border-bottom: 1px solid variable.$hoverBorderColor3;
  }
}
@media screen and (max-width: 700px) {
  .PalvelutCardContainer {
    grid-template-columns: repeat(auto-fill, minmax(275px, 400px));
    width: 95%;
  }
  .PalveluCard {
    height: fit-content;
    overflow: hidden;
  }
  .PalveluCardTextContainer {
    height: 0px;
    transition: all 0.1s ease-in-out;
    padding: 0;
  }
  .active {
    padding: 20px 30px;
    height: 100%;
  }

  .hover1:hover {
    border: none;
    transform: translateY(0);
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    .PalveluCardTitleContainer {
      border-bottom: none;
    }
  }
  .hover2:hover {
    border: none;
    transform: translateY(0);

    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    .PalveluCardTitleContainer {
      border-bottom: none;
    }
  }
  .hover3:hover {
    transform: translateY(0);

    border: none;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    .PalveluCardTitleContainer {
      border-bottom: none;
    }
  }
  .mobileButtons {
    display: block;
  }
}
