.SopimusehdotContainer {
  width: 100%;
  max-width: 800px;
  padding: 0;
  margin: 0;
}
.TitleContainer {
  margin: auto;
  min-height: 80px;
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  background-color: white;
  h1 {
    font-size: 1em;
    font-weight: 500;
    max-width: 80%;
  }
}
.Content {
  padding: 20px;
  p {
    margin: 20px 0;
    font-weight: 500;
    font-size: 1rem;
  }
  li {
    margin: 10px 0;
    font-weight: 500;
    font-size: 1rem;
  }
  ol {
    padding: 0 30px;
    margin: 10px 0;
  }
}
.Bottom {
  width: 80%;
  margin: auto;
  padding: 20px;
  button {
    height: 40px;
    width: 100%;
    color: white;
    background: red;
    border-radius: 5px;
  }
}
